<html>
<h1>Pirate and Ships Form</h1>
<form method="POST" action='/pirates'>
  Pirate: <input type='text' name='pirate[name]'></input>
  <input type='text' name='pirate[weight]'></input>
  <input type='text' name='pirate[height]'></input>
  Ship1: <input id="ship_name_1" type='text' name='pirate[ships][][name]'></input>
  <input id="ship_type_1" type='text' name='pirate[ships][][type]'></input>
  <input id="ship_booty_1" type='text' name='pirate[ships][][booty]'></input>
  Ship2: <input id="ship_name_2" type='text' name='pirate[ships][][name]'></input>
  <input id="ship_type_2" type='text' name='pirate[ships][][type]'></input>
  <input id="ship_booty_2"type='text' name='pirate[ships][][booty]'></input>
  <button type='submit' id='submit'>Submit</button>
</form>
</html>
